<!-- 頂部導航選單 -->
<div class="ts large link attached inverted info menu">
    <div class="ts narrow container">
        <a class="header item" href="/">攻擊排程列表</a>
        <a class="item" href="/challenge">題目列表</a>
        <a class="right item">桐谷和人</a>
    </div>
</div>
<br /><br />
<!-- / 頂部導航選單 -->