<%- include('../partials/helper.ejs') %>
<%- include('../partials/head.ejs', {title: `攻擊歷史記錄 - ${history.id}`}) %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <script>
        var switchHideState = function(id) {
            let elem = document.getElementById(id);
            if (elem.classList.contains('hide')) {
                elem.classList.remove('hide');
            } else {
                elem.classList.add('hide');
            }
        };
        
        var hideAll = function() {
            document.querySelectorAll('tr[id^="result-detail-"]').forEach(function(elem) {
                elem.classList.contains('hide') || elem.classList.add('hide');
            });
        };
    </script>
    <style>
        .hide {
            display: none;
        }
    </style>

    <div class="ts container">
        <div class="ts fitted secondary menu">
            <div class="item">
                <h3 class="ts header">
                    攻擊記錄：<%=history.id %>
                </h3>
            </div>
            <div class="right menu">
                <div class="ts buttons">
                    <button class="ts small info button" onclick="hideAll()">摺疊全部</button>
                </div>
            </div>
        </div>
        <div>
            <p>目前伺服器時間：<%=helper.dateToLocaleString(new Date()) %></p>
        </div>
        <table class="ts celled striped selectable table">
            <thead>
                <tr>
                    <th>題目 ID</th>
                    <th>隊伍名稱</th>
                    <th>FLAG</th>
                    <th>開始時間</th>
                    <th>結束時間</th>
                    <th>狀態碼</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i in history.results) { %>
                    <% 
                        let result = history.results[i];
                    %>
                    <tr style="cursor: pointer;" onclick="switchHideState('result-detail-<%=i %>');">
                        <td><%=result.chal_id %></td>
                        <td><%=result.teamName %></td>
                        <td><%=result.flag %></td>
                        <td><%=helper.dateToLocaleString(result.startTime) %></td>
                        <td><%=helper.dateToLocaleString(result.finishTime) %></td>
                        <td><%=result.code %></td>
                    </tr>
                    <tr id="result-detail-<%=i %>" class="hide">
                        <td colspan="6">
                            <div class="ts container grid">
                                <div class="ts eight wide column">
                                    <h4 style="font-weight: bolder">stdout</h4>
                                    <div class="ts fluid input">
                                        <textarea style="background: #fff" rows="25"><%=result.stdout %></textarea>
                                    </div>
                                </div>
                                <div class="ts eight wide column">
                                    <h4 style="font-weight: bolder">stderr</h4>
                                    <div class="ts fluid input">
                                        <textarea style="background: #fff" rows="25"><%=result.stderr %></textarea>
                                    </div>
                                </div>
                                <div class="ts eight wide column">
                                    <h4 style="font-weight: bolder">api server response</h4>
                                    <div class="ts fluid input">
                                        <textarea style="background: #fff" rows="25"><%=result.submitResult %></textarea>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</body>
</html>
