<%- include('../partials/helper.ejs') %>
<%- include('../partials/head.ejs', {title: '題目列表'}) %>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <script>
        var switchHideState = function(id) {
            let elem =  document.getElementById(id);
            if (elem.classList.contains('hide')) {
                elem.classList.remove('hide');
            } else {
                elem.classList.add('hide');
            }
        };
    </script>
    <style>
        .hide {
            display: none;
        }
    </style>

    <div class="ts narrow container">
        <div class="ts fitted secondary menu">
            <div class="item">
                <h3 class="ts header">
                    題目列表
                </h3>
            </div>
            <div class="right menu">
                <div class="ts buttons">
                    <button class="ts small positive button" onclick="location = '/challenge/add'">新增題目</button>
                    <div class="or" data-text="Or"></div>
                    <button class="ts small primary button" onclick="location.reload()">
                        <i class="refresh icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <p>目前伺服器時間：<%=helper.dateToLocaleString(new Date()) %></p>
        </div>
        <table class="ts celled striped selectable table">
            <thead>
                <tr>
                    <th>題目名稱</th>
                    <th>隊伍數量</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i in challenges) { %>
                    <% 
                        let challenge = challenges[i];
                    %>
                    <tr style="cursor: pointer;" onclick="switchHideState('challenge-detail-<%=challenge.id %>')">
                        <td><%=challenge.name %></td>
                        <td><%=challenge.targets.length %></td>
                    </tr>
                    <tr id="challenge-detail-<%=challenge.id %>" class="hide">
                        <td colspan="2">
                            <form class="ts relaxed form" method="POST" action="/challenge/<%=challenge.id %>">
                                <div class="field">
                                    <label>名稱</label>
                                    <input type="text" name="name" value="<%=challenge.name %>">
                                </div>
                                <div class="field">
                                    <label>Challenge ID</label>
                                    <input type="text" name="chal_id" value="<%=challenge.chal_id %>">
                                </div>
                                <div class="field">
                                    <label>隊伍 (目標) 列表</label>
                                    <% let teams = challenge.targets.map(target => Object.values(target).join('\t')).join('\n'); %>
                                    <textarea name="targets" cols="30" rows="10" placeholder="# team_id    team_name    host    port&#10;&#10;0    10sec    127.0.0.1    22"><%=teams %></textarea>
                                </div>
                                <br />
                                <div class="center aligned padded content">
                                    <div class="ts buttons">
                                        <button class="ts primary button">修改</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
            
        </table>
    </div>
</body>
